<div class="container">
<div class="logo">
  <img src="https://cdn.worldvectorlogo.com/logos/studio-ghibli-logo.svg" alt="Studio Ghibli logo"/>
</div>
<nav>
  <button routerLink="films" class="button-19" role="button">Films</button>
  <button routerLink="species" class="button-19" role="button">Species</button>
  <button routerLink="locations" class="button-19" role="button">Locations</button>
  <button routerLink="vehicles" class="button-19" role="button">Vehicles</button>
  <button routerLink="people" class="button-19" role="button">Characters</button>
</nav>
</div>
